/*
COLORS:

$Light green: #7ed56f;
$Medium green: #55c57a;
$Dark green: #28b485;

*/
$Light_green: #7ed56f;
$Medium_green: #55c57a;
$Dark_green: #28b485;
$white : #fff;
$black : #000;
$grey : #777;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Late",sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: $grey;
    padding: 1.5rem;
    
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right,rgba($Light_green, 0.5), rgba($Medium_green, 0.5)),url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;

    &__logo-box{
        position: absolute;
        top: 3rem;
        left: 3rem;
    }

    &__logo{
        height: 3.5rem;
    }
}





.heading-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
    &--primary{
        color: $white;
        text-transform: uppercase;

        &-main{
            display: block;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 3.15rem;
            animation-name: headmove;
            animation-duration: 1s;
            backface-visibility: hidden;
            animation-timing-function: ease-out;
            }

            &-sub{
                display: block;
                font-weight:400;
                letter-spacing: 2rem;
                font-size: 2rem;
                margin-bottom: 2rem;
                animation-name: headsubmove;
                animation-duration: 1s;
                backface-visibility: hidden;
                animation-timing-function: ease-out;
            
            }

            
    }
}




@keyframes headmove {
    0%{
        transform: translateX(-10rem);
        opacity: 0;
    }
    80%{
        transform: translateX(1rem);    
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}



@keyframes headsubmove {
    0%{
        transform: translateX(10rem);
        opacity: 0;
    }
    80%{
        transform: translateX(-1rem);
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes buttonmove {
    0%{
        transform: translateY(5rem);
        opacity: 0;
    }
    
    100%{
        transform: translate(0);
        opacity: 1;
    }
}

.btn{

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 5rem;
        backface-visibility: hidden;
        position: relative;
        
    }

    &:hover{
        transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, .2);

        &::after{
            transform: scaleX(1.2) scaleY(1.5);
            opacity: 0;
        }
    }
    
    &:active{
        transform: translateY(-.1rem);
    }

    &--white{
        background: $white;
        color: $grey;

        &::after{
            content: "";
            display: inline-block;
            background-color:$white;
        }
    }

    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated{
        animation: buttonmove 1s ease-in-out 0.75s;
        animation-fill-mode: backwards;
    }
}