/*
COLORS:

$Light green: #7ed56f;
$Medium green: #55c57a;
$Dark green: #28b485;

*/
$Light_green: #7ed56f;
$Medium_green: #55c57a;
$Dark_green: #28b485;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Late",sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #777;
    padding: 15px;
    
}

.header{
    height: 95vh;
    background-image: linear-gradient(to right,rgba($Light_green, 0.5), rgba($Medium_green, 0.5)),url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
}

.header__logo-box{
    position: absolute;
    top: 30px;
    left: 30px;
}

.header__logo{
    height: 35px;
}

.heading-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.heading-box--primary{
    color: #fff;
    text-transform: uppercase;
}

.heading-box--primary-main{
display: block;
font-size: 60px;
font-weight: 400;
letter-spacing: 31.5px;
animation-name: headmove;
animation-duration: 1s;
backface-visibility: hidden;
animation-timing-function: ease-out;
}
@keyframes headmove {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    80%{
        transform: translateX(10px);
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}

.heading-box--primary-sub{
    display: block;
    font-weight:400;
    letter-spacing: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    animation-name: headsubmove;
    animation-duration: 1s;
    backface-visibility: hidden;
    animation-timing-function: ease-out;

}

@keyframes headsubmove {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    80%{
        transform: translateX(-10px);
    }
    100%{
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes buttonmove {
    0%{
        transform: translateY(50px);
        opacity: 0;
    }
    
    100%{
        transform: translate(0);
        opacity: 1;
    }
}


.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 50px;
    backface-visibility: hidden;
    position: relative;
    
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}
.btn:active{
    transform: translateY(-1px);
}
.btn--white{
    background: #fff;
    color: #777;
}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn--white::after{
    content: "";
    display: inline-block;
    background-color: #fff;
}

.btn:hover::after{
    transform: scaleX(1.2) scaleY(1.5);
    opacity: 0;
}

.btn--animated{
    animation: buttonmove 1s ease-in-out 0.75s;
    animation-fill-mode: backwards;
}